
	.clearfix:after, .container:after, .tab-nav:after {
	  content: ".";
	  display: block;
	  height: 0;
	  clear: both;
	  visibility: hidden;
	}

	/* ==========
	   Setup Page */
	*, *:before, *:after {
	  box-sizing: border-box;
	}

	body {
	  font-family: 'Quicksand', sans-serif;
	}

	/* =================
	   Container Styling */
	.container {
	  position: relative;
	  padding: 3em;
		margin:auto;
		max-width: 860px !important;
	}

	/* ===========
	   Tab Styling */
	.tab-group {
	  position: relative;
	  border: 1px solid #eee;
	  margin-top: 2.5em;
	  border-radius: 0 0 5px 5px;
	}
	.tab-group section {
		color:#666;
	  opacity: 0;
	  height: 0;
	  padding: 0 1em;
	  overflow: hidden;
	  transition: opacity 0.4s ease, height 0.4s ease;
	}
	.tab-group section.active {
	  opacity: 1;
	  height: auto;
	  overflow: visible;
	}

    .tab-nav {
      list-style: none;
      margin: -2.5em -6px 0 -1px;
      padding: 0;
      height: 2.5em;
      overflow: hidden;
    }
    .tab-nav li {
      display: inline;  
      text-align:center;
    }
    .tab-nav li a {
      position: relative;
      display: block;
      float: left;
      width:19.46% !important;
      border-radius: 5px 5px 0 0;
      background: #f2f2f2;
      line-height: 2.5em;
      padding: 0 1em;
      text-decoration: none;
      color: grey;
      margin-right: 4px;
      margin-bottom:4px;
      transition: background .2s ease, line-height .2s ease, margin .2s ease;
    }
    .tab-nav li a:hover{
    background: #e0e0e0;
     color: grey;
        }
    .tab-nav li.active a {
     background: #679EDC;
     color: white;
    line-height: 2.5em;
    font-weight: bold;
    }
